.head {
  background-color: black;
  display: flex;
  align-content: space-around;
  top: 0;
  color: white;
  position: fixed;
  z-index: 999;
  opacity: 0.725;
  box-sizing: border-box;
  width: 100%;
}

.head-left {
  margin: 10px 0 10px 10px;
}

.main-logo {
  height: 45px;
  max-height: 45px;
}
