.label {
  background-image: linear-gradient(
    to right,
    rgb(119, 255, 210),
    rgb(116, 116, 218)
  );
  width: 414px;
  height: 72.5px;
  border-radius: 7.5px;
  display: flex;
  /* margin: 55px 0 20px 33%; */
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif Impact;
  transition: top 0.2s linear;
  position: relative;
  margin-top: 55px;
  left: 50%;
  transform: translate(-50%, -0);
}

.label:hover {
  top: -5px;
}

#lbl-l {
  margin: 15px 0 0 20px;
  height: 50px;
}

#lbl-r {
  margin: 25px 0 0 20px;
  height: 20px;
}

.lbl-text {
  margin: 0 50px 0 30px;
}

#lbl-title {
  font-size: 22.5px;
  color: #ffdd43;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 660;
}

#lbl-subtitle {
  font-size: 15px;
  color: white;
  margin-top: 7.5px;
  float: left;
  font-weight: bold;
}

.title-t {
  color: #adbad3;
  font-size: 21px;
  font-weight: 700;
  line-height: 22px;
}

.title-st {
  color: #f0f0f0;
  font-size: 13.5px;
  line-height: 27.5px;
}

.title-section {
  padding: 50px;
}

.all-packs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 0 0 20px 0;
  margin-bottom: 60px;
}

.packs {
  width: 200px;
  padding-top: 18px;
}

.offer-price,
.price-orignal {
  display: flex;
  margin-left: 17px;
  margin-top: 10px;
  width: 175.656px;
}

.pack-img {
  height: 220px;
  border-radius: 10px;
  position: relative;
  transition: top 0.2s linear;
  top: 0;
}

.pack-img:hover {
  top: -10px;
}

.price-orignal {
  color: #adbad3;
  font-size: 13.75px;
}

.offer-price {
  color: #36e9ff;
  font-size: 15.5px;
}

.mrp,
.price-val {
  font-weight: bold;
}

.p-det {
  width: 80px;
  text-align: left;
}

.o-det {
  margin-left: 6px;
}

.mrp {
  margin-left: 50px;
}

.price-val {
  width: 71.35px;
  text-align: right;
}

.yt-link {
  height: 543px;
}

.vid {
  margin-top: 1.75%;
  height: 90%;
  border-radius: 10px;
  background-color: #000;
}

.vid:hover {
  box-shadow: 0 10px 25px black;
}

.workouts {
  height: 570px;
  padding: 57.5px 0 0 0;
}

.w-title {
  font-size: 20px;
  color: #adbad3;
  margin: 0 0 45px 0;
  font-weight: 600;
}

.w-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.w-logo > img {
  height: 143px;
  width: 263px;
  border-radius: 10px;
  margin: 9px;
  box-shadow: none;
  transition: box-shadow 0.1s linear;
  position: relative;
}

.w-logo > img:hover {
  box-shadow: 0 10px 25px rgb(22, 19, 19);
}

.view-head {
  margin: 50px 0 70.5px 0;
}

.view-t,
.centre-t,
.trainer-t {
  font-size: 21.5px;
  color: #adbad3;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
}

.view-st,
.centre-st,
.trainer-st {
  color: rgb(189, 189, 189);
  font-size: 13.5px;
  font-weight: 450;
  line-height: 15px;
}

.view-slider {
  position: relative;
  width: 910px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  margin-bottom: 80px;
}

.carousel {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #lbl-l {
    height: 25px;
  }
  #lbl-r {
    height: 10px;
  }
  .label {
    width: 300px;
    height: 60px;
  }
  #lbl-title {
    font-size: 15px;
  }
  #lbl-subtitle {
    font-size: 11px;
  }
  .vid {
    margin-top: 3%;
    height: 240px;
    width: 95%;
  }
  .yt-link {
    height: 270px;
    width: 100%;
  }
}
