.head{
    background-color:  black;
    display: flex;
    position: sticky;
    top: 0;
   color:  white;
   opacity:  0.8;
}


.head-middle>nav>ul>li{
    display:  inline-block;
    margin:   0 0 0 70px;
}


.head-right>nav>ul>li{
    display:  inline-block;
    margin-left: 40px;
}

.main-logo{
    height:  40px;
}

.head-left{
    margin: 10px 0 10px 10px;
}

.head-middle{
    margin:  5px 0 0 0px;
}


#dwnlod{
    height:  22px;
    vertical-align: middle;
}

.menu-logo{
    height: 15px;
}


.r-menu-logo{
    height:  22px;
    vertical-align: middle;
}


.r-text{
    margin-left:  10px;
   font-size: 14px;
}


.head-right{
    margin: 3px 0 0 70px;
}