.head{
    height:  65px;
}

nav{
    position:  sticky;
    top: 0;
}

nav >ul{
    background-color: #333333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    height:  70px;
}

nav>ul>li{
    margin:  25px 30px 25px 30px;
    color:  white;
    float: left;
}

.main-logo{
    height:  2.75vw;
}

.menu-logo{
    height:  1.15vw;
    margin:  0 10px 0 0 ;
}

#dwnlod{
    height:  1.5vw;
    margin:   0 10px 0 0;
}